<!DOCTYPE html>
<html lang="de">
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ - BeeLot</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/faq.css">
  </head>
  <body>
    <!-- Header -->
    <div id="header-placeholder"></div>
    <script>
      fetch("components/header.html")
    .then(response => response.text())
    .then(html => {
        document.getElementById("header-placeholder").innerHTML = html;
    });
    </script>

    <!-- Main Content -->
    <main>
      <h1>Häufig gestellte Fragen (FAQ)</h1>
      <section class="faq-section">
        <details>
          <summary>Phänologischer Kalender</summary>
          <p>
            Unser vertrauter Jahreskalender basiert auf den astronomischen
            Gegebenheiten der Erdumlaufbahn. Dieser ist für uns Menschen oft
            taktgebend, jedoch nicht für die Natur.
          </p>

          <p>
            Der phänologische Kalender hingegen orientiert sich an der
            Natur. Er teilt die Jahreszeiten nicht nach festen Daten wie der
            meteorologische Kalender ein, sondern nach biologischen
            Entwicklungsstadien von Pflanzen und Tieren, den sogenannten
            phänologischen Phasen. Beispiele hierfür sind der Beginn der
            Forsythienblüte oder das Ergrünen der Bäume, die den tatsächlichen
            Verlauf der Natur im Jahreszyklus widerspiegeln.
          </p>

          <p>
            Der phänologische Kalender unterteilt das Jahr in zehn
            Jahreszeiten, darunter Frühling, Sommer, Herbst und Winter, die
            jeweils in Früh-, Hoch- und Spätphasen gegliedert sind. Er basiert
            auf Beobachtungen in der Natur und zeigt den Einfluss von Klima und
            Wetter auf die Vegetation.
          </p>

          <p>
            Dieses System ist ein wichtiges Werkzeug für die Landwirtschaft,
            den Gartenbau und die Klimaforschung, da es Veränderungen in den
            natürlichen Wachstumszyklen sichtbar macht.
          </p>
        </details>

        <details>
          <summary>Grünlandtemperatursumme (Abkürzung GTS)</summary>
          <details>
            <summary>Definition</summary>
            <p>
              Die Grünlandtemperatursumme ist eine Methode zur Bestimmung der
              Bodeneignung für Düngung, des Wachstumsbeginns von Pflanzen und
              des Starts der Blühphase. Sie wird berechnet, indem die täglichen
              Durchschnittstemperaturen oberhalb von 0 °C summiert
              werden. Erreicht die Summe einen bestimmten Schwellenwert (in der
              Regel 200 Grad), signalisiert dies, dass ausreichend Wärme für
              das Pflanzenwachstum vorhanden ist. Diese Methode findet häufig
              Anwendung in der Landwirtschaft und im Gartenbau.
            </p>

            <p>
              Kurz gesagt: Die Grünlandtemperatursumme dient als Orientierungshilfe, um
              festzustellen, wann die Natur genügend Wärmeenergie aufgenommen hat, um
              verschiedene Wachstumsphasen bei Pflanzen auszulösen.
            </p>
          </details>
          <details>
            <summary>Einschränkung</summary>
            <p>
              Die Grünlandtemperatursumme berücksichtigt ausschließlich die
              Wärmekomponente des Pflanzenwachstums. Andere wichtige
              Einflussfaktoren wie Wind, Feuchtigkeit und Bodenbeschaffenheit
              werden dabei nicht erfasst.
            </p>
          </details>
        </details>


        <details>
          <summary>BeeLot</summary>
          <details>
            <summary>Was ist BeeLot?</summary>
            <p>
              BeeLot ist eine Plattform, die Imkerinnen und Imkern bei ihrer Arbeit helfen kann.
              Sie unterstützt dabei, imkerliche Tätigkeiten an den phänologischen Kalender anzupassen. <br>
            </p>
            <p>
              Unsere Bienen orientieren sich an den Blühzeiten der
              Pflanzen. Die Pflanzenwelt wiederum richtet sich nach der
              verfügbaren Wärmeenergie.
            </p>
            <p>
              Diese Energie hängt im Freien von der
              Tageslänge und dem Wetter ab.  Die Grünland-Temperatur-Summe ist
              ein nützlicher Wert, um die empfangene Wärme einzuschätzen.
            </p>
          </details>
          <details>
            <summary>Für wen ist Beelot?</summary>
            <p>
              BeeLot ist für Imker
              <ul>
                <li>die den phänologischen Kalender nicht im Blut haben</li>
                <li>bei denen keine Zeigerpflanzen vor der Haustür stehen</li>
                <li>die sich manchmal unsicher sind, was als nächstes dran ist</li>
                <li>die sich manchmal unsicher sind, was als nächstes dran ist</li>
              </ul>
            </p>
          </details>
          <details>
            <summary>Warum heisst das BeeLot?</summary>
            <p>
              Die Idee zu "BeeLot" kam mir nachts um 4 Uhr. Wirklich! <br>
              Aufgewacht, und da war der Name ... Bee-Lot, der Pi-lot für die
              Bienenhaltung. <br>
              Das wichtigste: solch einen doofen Namen können sich die meisten gut merken. <br>
              Bee-Lot ... das Lot ist ein Messinstrument. Wie cool ist das denn 😊
            </p>
          </details>
          <details>
            <summary>Warum ist Beelot entstanden?</summary>
            <p>
              Ich fand einfach: das fehlt.
            </p>
            <p>
              Um ehrlich zu sein: Ich habe es für mich geschrieben.
            </p>
            <p>
              Viele sprechen über die GTS, es gibt den gemittelten phänologischen Kalender, viele Stockwaagen berechnen die GTS.
              Ich wollte ein niederschwelliges einfach zu bedienendes Messinstrument.
              Mit dem einfachen Anklicken des Standortes ist es getan 😊
            </p>
          </details>
          <details>
            <summary>Was kostet das?</summary>
            <p>
              Nichts. Alles OpenSource und frei.<br>Ich habe schon viel von OpenSource profitiert.<br>Jetzt kann ich auch einmal etwas dazu beitragen.
            </p>
          </details>
          <details>
            <summary>Was passiert mit den Daten?</summary>
            <p>
              Nichts. Ich habe kein Interesse dran. Die Seite ist auch
              werbefrei.
            </p>
          </details>
          <details>
            <summary>Welche Vorteile bietet BeeLot?</summary>
            <p>
              BeeLot hilft Imkern durch Empfehlungen, Maßnahmen frühzeitig
              einzuleiten, wie z.Bsp. rechtzeitig die Honigräume
              aufzusetzen. Oder aber mitzubekommen wie es an entfernten Orten
              um die Raps oder Edelkastanienblüte steht.
            </p>
          </details>
          <details>
            <summary>Beelot in der Blühzeit ... und danach?</summary>
            <p>
              Die meisten Trachten sind mit der Sommersonnenwende
              vorbei. Damit fängt man im zweiten Halbjahr mit Beelot wenig
              an. Vielleicht noch mit dem Hinweis wann es den ersten Frost
              gibt ... 3 Wochen danach ist die Oxalsäurebehandlung in Form
              von Beträufeln der Wintertraube dran.
            </p>
          </details>
          <details>
            <summary>Gibt es Beelot auch als App?</summary>
            <p>
              Noch nicht. Aber in dem Browser auf Deinem Smartphone oder Tablet kannst Du es jederzeit aufrufen.
            </p>
          </details>
          <details>
            <summary>Wo kommen die Wetterdaten her?</summary>
            <p>
              Die sind öffentlich. Ich beziehe sie von https://open-meteo.com
            </p>
          </details>
        </details>


        <details>
          <summary>Technisches</summary>
          <details>
            <summary>Wie genau ist BeeLot?</summary>
            <p>
              Um Bandbreite zu sparen benutze ich einen Cache für die Temperaturdaten. Da runde ich auf 0.01°. Das führt zu etwa 700 m x 1100 m großen Kacheln.
            </p>
            <p>
              In anderen Worten: ein Verschieben innerhalb solcher Größenordnungen wird nicht deine Berechnungen ändern.
            </p>
          </details>
          <details>
            <summary>In welcher Programmiersprache wurde Beelot geschrieben?</summary>
            <p>
              Beelot ist eine statische Webseite. Sie wird unter github gehostet. Sie besteht aus html, JavaScript und css.
            </p>
            <p>
              Historisch: Meine erste Implementierung auf meinem lokalen Rechner lief in Python.
            </p>
          </details>
        </details>


      </section>

      <section class="weiterfuehrende-quellen">
        <h1>Weiterführende Quellen</h1>
        <ul>
          <li>
            <a href="https://www.dwd.de/DE/leistungen/phaeno_uhr/phaenouhr.html" target="_blank" rel="noopener noreferrer">
              Deutsche Wetterdienst (DWD): Phänologische Uhr
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="https://www.youtube.com/watch?v=3spi7qFOTJw&t=3867s" target="_blank" rel="noopener noreferrer">
              Montagsimker YouTube-Video: Grünlandtemperatursumme in der Imkerei
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="https://cbrell.de/blog/gruenlandtemperatursumme-phaenologischer-kalender-und-bienen-bedeutung-der-temperatur-fuer-die-imkerei/" target="_blank" rel="noopener noreferrer">
              Blogartikel: Grünlandtemperatursumme, phänologischer Kalender und Bienen (von C. Brell)
            </a>
          </li>
          <li>
            <a href="https://cbrell.de/blog/phaenologisch-imkern-im-erstfruehling/" target="_blank" rel="noopener noreferrer">
              Blogartikel: Phänologisch Imkern im Erstfrühling (von C. Brell)
            </a>
          </li>
        </ul>
      </section>

    </main>

    <!-- Footer -->
    <div id="footer-placeholder"></div>
    <script>
      fetch("components/footer.html")
    .then(response => response.text())
    .then(html => {
        document.getElementById("footer-placeholder").innerHTML = html;
    });
    </script>
  </body>
</html>
