<!DOCTYPE html>
<html lang="de">
  <head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ - BeeLot</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/faq.css">
  </head>
  <body>
    <!-- Header -->
    <div id="header-placeholder"></div>
    <script>
      fetch("components/header.html")
    .then(response => response.text())
    .then(html => {
        document.getElementById("header-placeholder").innerHTML = html;
    });
    </script>

    <!-- Main Content -->
    <main>
      <h1>Häufig gestellte Fragen (FAQ)</h1>
      <section class="faq-section">
        <details>
          <summary>Bedienung</summary>
          <p>
            <ol style="list-style-type: decimal; margin-left: 20px; padding: 0; line-height: 1.8;">
              <li style="margin-bottom: 20px;">
                Wähle einen Ort auf der Karte:
                <br>
                <img src="assets/img/ort_button.png" "Ort Button Bild" style="width: 150px; height: auto;">
                <br>
                Suche deinen Standort aus und bestätige ihn.
                <br>
                <img src="assets/img/usage_map1.png" "Karten Bild" style="width: 300px; height: auto;">
                <br>
                <img src="assets/img/usage_map2.png" "Bestätigung Bild" style="width: 300px; height: auto;">
              <li style="margin-bottom: 20px;">
                Jetzt bekommst Du die Grünland-Temperatur-Summe angezeigt. Leider am 1.1. eines jeden Jahres nicht 😉
              </li>
              <li style="margin-bottom: 20px;">
                Es werden, wenn imkerliche Informationen vorliegen, selbige auch angezeigt.
              </li>
              <li style="margin-bottom: 20px;">
                In dem Simulation Bereich kannst du auch vergangene Tage anschauen.
                <p>
                  Zum Beispiel: "Was hätte mir Beelot am 9. April 2024 angezeigt."
                </p>
                Dazu das Datum auswählen (Hinweis: Monat/Tag/Jahr):
                <br>
                <img src="assets/img/usage_date1.png" "Datum Auswahl Bild" style="width: 300px; height: auto;">
                <br>
                Entsprechend werden dann die Grünland-Temperatur-Summe und die imkerlichen Hinweise angezeigt.
                <br>
                <img src="assets/img/usage_info.png" "Information Bild" style="width: 600px; height: auto;">
              </li>
              <li style="margin-bottom: 20px;">
                Die Diagramme sind am Anfang ausgeblendet. Sie können angezeigt werden. Einfach den Knopf anklicken.
                <br>
                Die Kurvenfarben entsprechen den Königinnen-Farben des jeweiligen Jahres.
                <br>
                <img src="assets/img/usage_curve1.png" "Einzelkurve GTS Bild" style="width: 600px; height: auto;">
                <br>
                Der Zeitraum ist wählbar.
                <br>
                <img src="assets/img/usage_curve_4weeks.png" "Einzelkurve GTS Bild 4 Wochen Zeitraum" style="width: 600px; height: auto;">
                <br>
                Die letzten 5 Jahre sind einblendbar.
                <br>
                <img src="assets/img/usage_curve_5years.png" "Mehrfachkurve GTS Bild der letzten 5 Jahre" style="width: 600px; height: auto;">
                <br>
                Und auch einzeln abwählbar. Zum Beispiel, wenn man nur 2 Kurven vergleichen möchte.
                <br>
                <img src="assets/img/usage_curve_selective.png" "Mehrfachkurve GTS Bild der letzten 5 Jahre" style="width: 600px; height: auto;">
              </li>
              <li style="margin-bottom: 20px;">
                Weiter unten kann der Temperatur Verlauf angezeigt werden. Allerdings in der aktuellen Version 0.1 nur für das ausgewählte Jahr.
                <br>
                <img src="assets/img/usage_curve2.png" "Temperaturverlauf Bild" style="width: 600px; height: auto;">
              </li>
            </ol>
            Viel Spaß beim Experimentieren!
          </p>
        </details>

        <details>
          <summary>Phänologischer Kalender</summary>
          <p>
            Unser vertrauter Jahreskalender basiert auf den astronomischen
            Gegebenheiten der Erdumlaufbahn. Dieser ist für uns Menschen oft
            taktgebend, jedoch nicht für die Natur.
          </p>

          <p>
            Der phänologische Kalender hingegen orientiert sich an der
            Natur. Er teilt die Jahreszeiten nicht nach festen Daten wie der
            meteorologische Kalender ein, sondern nach biologischen
            Entwicklungsstadien von Pflanzen und Tieren, den sogenannten
            phänologischen Phasen. Beispiele hierfür sind der Beginn der
            verschiedenen Blühphasen oder das Ergrünen der Bäume, die den tatsächlichen
            Verlauf der Natur im Jahreszyklus widerspiegeln.
          </p>

          <p>
            Der phänologische Kalender unterteilt das Jahr in zehn
            Jahreszeiten, darunter Frühling, Sommer, Herbst und Winter, die
            jeweils in Früh-, Hoch- und Spätphasen gegliedert sind. Er basiert
            auf Beobachtungen in der Natur und zeigt den Einfluss von Klima und
            Wetter auf die Vegetation.
          </p>

          <p>
            Dieses System ist ein wichtiges Werkzeug für die Landwirtschaft,
            den Gartenbau und die Klimaforschung, da es Veränderungen in den
            natürlichen Wachstumszyklen sichtbar macht.
          </p>
        </details>

        <details>
          <summary>Grünland-Temperatur-Summe (Abkürzung GTS)</summary>
          <details>
            <summary>Definition</summary>
            <p>
              Die Grünland-Temperatur-Summe wird für jeden Tag berechnet. Mit
              ihrer Hilfe läßt sich
              <ul>
                <li> die Bodeneignung für Düngung bestimmen, </li>
                <li> der Wachstumsbeginns von Pflanzen und </li>
                <li> verschiedene Blühphasen berechnen.</li>
              </ul>
              Die Formel ist so aufgebaut, dass die täglichen
              Durchschnittstemperaturen oberhalb von 0 °C aufsummiert
              werden. Die Werte im Januar werden mit 0.5 multipliziert, die
              Werte im Februar mit 0.75.
            </p>
            <p>
              Erreicht die Summe einen bestimmten Schwellenwert (beispielsweise
              200 Grad), signalisiert dies, dass ausreichend Wärme für
              das Pflanzenwachstum vorhanden ist. Landwirte können dann den
              Dünger ausbringen.
            </p>
            <p>
              Für Imker ist beispielsweise die 400 Grad wichtig als Empfehlung
              für das Aufsetzen der Honigräume.
            </p>
            <p>
              Kurz gesagt: Die Grünland-Temperatur-Summe dient als Orientierungshilfe, um
              festzustellen, wann die Natur genügend Wärmeenergie aufgenommen hat, um
              verschiedene Wachstumsphasen bei Pflanzen auszulösen.
            </p>
          </details>
          <details>
            <summary>Grenzen der Aussagekraft</summary>
            <p>
              Die Grünland-Temperatur-Summe (GTS) ist ein nützliches Instrument,
              um das Wachstum von Pflanzen zu prognostizieren, die früh im Jahr
              auf steigende Temperaturen reagieren.
            </p>
            <p>
              Andere wichtige Einflussfaktoren wie Tageslänge, Wind,
              Feuchtigkeit und Bodenbeschaffenheit werden dabei nicht erfasst.
            </p>
            <p>
              Entsprechend ist die GTS nicht für alle Pflanzen
              geeignet. Pflanzen, die andere Umweltfaktoren als Hauptsteuerung
              für ihr Wachstum oder ihre Blüte haben, weichen von der
              Gültigkeit der GTS als Indikator ab.
              <ul>
                <li>
                  Pflanzen wie die Besenheide (Calluna vulgaris) oder Kürbisse
                  reagieren weniger auf Wärme und mehr auf die Tageslänge.
                </li>
                <li>
                  Viele Wüstenpflanzen (z. B. Kakteen) und Steppenpflanzen
                  wachsen nur bei ausreichender Feuchtigkeit und nicht primär
                  durch Wärme.
                </li>
                <li>
                  Spätsommerblüher wie die Sonnenblume (Helianthus annuus) oder
                  Herbstanemonen haben genetisch festgelegte Blühzeitpunkte.
                </li>
                <li>
                  Einige Pflanzen, wie Salat, schießen oder gehen in Ruhephasen
                  über, wenn die Temperaturen zu hoch werden, obwohl die GTS
                  weiter steigt.
                </li>
            </p>
          </details>
        </details>

        <details>
          <summary>BeeLot</summary>
          <details>
            <summary>Was steckt dahinter?</summary>
            <p>
              BeeLot ist eine Plattform, die Imkerinnen und Imker bei ihrer
              Arbeit unterstützen kann. Sie ermöglicht es imkerliche Tätigkeiten besser an
              den phänologischen Kalender anzupassen.
            </p>
            <p>
              Unsere Bienen orientieren sich an den Blühzeiten der
              Pflanzen. Ein Großteil der imkerlich relevanten Pflanzenwelt
              wiederum richtet sich nach der verfügbaren Wärmeenergie.
            </p>
            <p>
              Diese Energie hängt im Freien von der Tageslänge und dem Wetter
              ab. Die Grünland-Temperatur-Summe ist dabei ein hilfreicher Wert,
              um die empfangene Wärme zu messen.
            </p>
          </details>
          <details>
            <summary>Wer ist die Zielgruppe?</summary>
            <p>
              BeeLot richtet sich an Imkerinnen und Imker:
            </p>
            <ul>
              <li>die den phänologischen Kalender nicht im Blut haben</li>
              <li>bei denen keine Zeigerpflanzen vor der Haustür stehen</li>
              <li>die sich manchmal unsicher sind, was als nächstes dran ist</li>
              <li>die wissen möchten, welche Trachten wann und wo blühen</li>
              <li>die beim Wandern besser planen wollen</li>
            </ul>
          </details>
          <details>
            <summary>Wo kommt der Name her?</summary>
            <p>
              Die Idee zu "BeeLot" kam mir nachts um 4 Uhr – wirklich! <br>
              Ich bin aufgewacht, und da war der Name: Bee-Lot, der Pi-lot für die Bienenhaltung. <br>
              Das Beste daran? So ein ungewöhnlicher Name bleibt im Gedächtnis. <br>
              Bee-Lot ... das Lot ist ein Messinstrument. Wie cool ist das denn 😊
            </p>
          </details>
          <details>
            <summary>Warum ist diese Webseite entstanden?</summary>
            <p>
              Ganz einfach: Ich fand, dass so etwas fehlt.
            </p>
            <p>
              Ehrlich gesagt habe ich die Seite in erster Linie für mich selbst entwickelt.
            </p>
            <p>
              Viele sprechen über die Grünland-Temperatur-Summe (GTS), es gibt
              gemittelte phänologische Kalender, und viele Stockwaagen
              berechnen bereits die GTS.
            </p>
            <p>
              Doch ich wollte ein niederschwelliges, einfach zu bedienendes und
              kostenloses Messinstrument.
            </p>
            <p>
              Und es sollte für einen vom Imker eingegebenen Standort sinnvolle
              Daten liefern.
            </p>
            <p>
              Mit einem einzigen Klick auf den Standort ist alles erledigt 😊
            </p>
          </details>
          <details>
            <summary>Was kostet das?</summary>
            <p>
              Nichts. Alles OpenSource und frei von Werbung.
            </p>
          </details>
          <details>
            <summary>Was passiert mit den Daten?</summary>
            <p>
              Nichts. Deine Daten interessieren mich nicht und werden von mir weder gesammelt noch gespeichert.
            </p>
            <p>
              Lokal in deinem Browser werden lediglich der ausgewählte Standort und deine
              <a href="components/einstellungen.html">Tracht-Einstellungen</a> gespeichert.
              Dadurch können beim nächsten Aufruf der Seite diese Informationen automatisch wiederverwendet werden.
            </p>
            <p>
              Wenn du die Seite jedoch auf einem anderen Gerät (z. B. Smartphone, Tablet oder Laptop) aufrufst,
              werden der Standort und die Einstellungen nicht automatisch mitgenommen. Dies liegt daran, dass es keine
              Authentifizierung oder ein Login-System gibt, um die Daten zwischen Geräten zu synchronisieren.
            </p>
          </details>
          <details>
            <summary>Welche Vorteile bietet BeeLot?</summary>
            <p>
              BeeLot unterstützt Imkerinnen und Imker dabei, Maßnahmen frühzeitig einzuleiten – zum Beispiel rechtzeitig die Honigräume aufzusetzen.
              Zudem bietet BeeLot Einblicke, wie es beispielsweise an entfernten Standorten um die Raps- oder Edelkastanienblüte steht.
            </p>
          </details>
          <details>
            <summary>Wie entsteht die "Imkerliche Information"?</summary>
            <p>
              Die aktuelle Kurve extrapoliert die Temperaturentwicklung linear basierend auf den letzten 14 Tagen und projiziert sie um weitere 14 Tage in die Zukunft.
              Dieser Ansatz ist ein erster Versuch und wird in zukünftigen Versionen weiter verbessert.
            </p>
            <p>
              Relevante Ereignisse, bei denen die Grünland-Temperatur-Summe (GTS) in der extrapolierten Kurve überschritten wird, werden vorausgeschätzt und entsprechend angezeigt.
            </p>
            <p>
              Gleichzeitig werden Ereignisse der vergangenen Woche weiterhin eingeblendet, um einen vollständigen Überblick zu gewährleisten.
            </p>
          </details>
          <details>
            <summary>BeeLot in der Blühzeit ... und danach?</summary>
            <p>
              Die meisten Trachten enden mit der Sommersonnenwende. Im zweiten Halbjahr bietet BeeLot daher nur noch begrenzt Anwendungsmöglichkeiten.
              Vielleicht mit dem Hinweis, wann der erste Frost zu erwarten ist – drei Wochen danach ist die Oxalsäurebehandlung durch Beträufeln der Wintertraube fällig.
              Diese Funktion wird in einer zukünftigen Version implementiert. Aktuell (Version 0.1.1) ist sie noch nicht verfügbar.
            </p>
          </details>
          <details>
            <summary>Gibt es Beelot auch als App?</summary>
            <p>
              Noch nicht. Aber in dem Browser auf Deinem Smartphone oder Tablet kannst Du es jederzeit aufrufen.
            </p>
          </details>
          <details>
            <summary>Wo kommen die Wetterdaten her?</summary>
            <p>
              Die sind öffentlich. Ich beziehe sie von <a href="https://open-meteo.com">Open Meteo</a>.
            </p>
            <p>
              Die Temperaturdaten werden in 2 Meter Höhe gemessen.
            </p>
          </details>
        </details>


        <details>
          <summary>Technisches</summary>
          <details>
            <summary>Wie genau ist BeeLot (geographisch)?</summary>
            <p>
              Um Bandbreite zu sparen benutze ich einen Cache für die Temperaturdaten. Da runde ich auf 0.01°. Das führt zu etwa 700 m x 1100 m großen Kacheln.
            </p>
            <p>
              In anderen Worten: ein Verschieben innerhalb solcher Größenordnungen wird nicht deine Berechnungen ändern.
            </p>
          </details>
          <details>
            <summary>In welcher Programmiersprache wurde Beelot geschrieben?</summary>
            <p>
              Beelot ist eine statische Webseite. Sie wird unter github gehostet. Sie besteht aus html, JavaScript und css.
            </p>
            <p>
              Historisch: Meine erste Implementierung auf meinem lokalen Rechner lief in Python.
            </p>
          </details>

          <details>
            <summary>Bekannte Bugs</summary>
            <details>
              <summary>"+" Button hängt (Simulation)</summary>
              <p>
                Ein Klick auf "+" sollte immer einen Tag weiterspringen. Manchmal hängt das Datum.
              </p>
              <p>
                Lösung: Das Datum für den nächsten Tag über die Datum Einstellung direkt auswählen.
              </p>
            </details>
            <details>
              <summary>...</summary>
              <p>
                Plot-Kurven von Schaltjahren haben mitunter einen Datenpunkt mehr.
              </p>
            </details>
          </details>
        </details>

        <details>
          <summary>Über mich</summary>
          <p>
            Von Hause aus bin ich Informatiker und in der Automobilindustrie
            tätig. Dort ist mein Schwerpunkt das maschinelle Sehen. In anderen
            Worten: Ich arbeite daran dass Fahrzeuge ihre Umgebung erkennen und
            angemessen darauf reagieren.
          </p>
          <p>
            Ich imkere seit 2018. Spätberufen bin ich hochbetagt (mit über
            fünfzig) meinem Ruf gefolgt, den ich schon in der Kindheit
            verspürte: die Beschäftigung mit staatenbildenden Insekten, die
            mich seit jeher faszinierten.
          </p>
          <p>
            "Warum nicht früher?" lautet die logische Nachfrage. Nun weil ich
            keinen Honig mochte. Dann war ich bei einer befreundeten Imkerin in
            den späten 2010er Jahren beim jährlichen Heiligabend Frühstück. Und
            ich probierte ihren Honig. Und damit war es um mich geschehen.
          </p>
          <p>
            An der <a href="https://bienenkunde.uni-hohenheim.de"
              target="_blank" rel="noopener noreferrer">Landesanstalt für
              Bienenkunde der Uni Hohenheim</a> besuchte ich den jährlich
              angebotenen Anfängertag (im November).

            Anschließend durchlief ich den Anfängerkurs
              im <a href="https://imker-esslingen.de" target="_blank" rel="noopener noreferrer">Imkerverein Esslingen</a>.
          </p>
          <p>
            Seitdem widme ich mich voller Freude der Imkerei. Durch
            ständige Weiterbildung und den Austausch mit anderen Imkern
            versuche ich mein Wissen und meine Fähigkeiten zu erweitern.
            In diesem Kontext bin ich Anfang 2024 auch über den Begriff der
            Grünland-Temperatur-Summe gestolpert.
          </p>
          <p>
            Eine Webseite habe ich noch nie entwickelt. Das ist meine erste.
          </p>
        </details>

        <details>
          <summary>Feedback</summary>
              <p>
                Wenn ihr Verbesserungsvorschläge/Kommentare/Ideen habt oder
                Bugs findet, schickt
                mir selbige bitte per E-Mail
                an <a href="mailto:info.beelot@gmail.com" target="_blank" rel="noopener noreferrer">info.beelot@gmail.com</a>
              </p>
        </details>

      </section>

      <section class="weiterfuehrende-quellen">
        <h1>Weiterführende Quellen</h1>
        <ul>
          <li>
            <a href="https://meteostat.net/de/" target="_blank" rel="noopener noreferrer">
              Meine Datenquelle: Meteostat
            </a>
          </li>
        </ul>

        <ul>
          <li>
            <a href="https://www.dwd.de/DE/leistungen/phaeno_uhr/phaenouhr.html" target="_blank" rel="noopener noreferrer">
              Deutsche Wetterdienst (DWD): Phänologische Uhr
            </a>
          </li>
        </ul>

        <ul>
          <li>
            <a href="https://www.youtube.com/watch?v=3spi7qFOTJw&t=3867s" target="_blank" rel="noopener noreferrer">
              Montagsimker YouTube-Video: Grünland-Temperatur-Summe in der Imkerei
            </a>
          </li>
        </ul>
        <ul>
          <li>
            <a href="https://cbrell.de/blog/gruenlandtemperatursumme-phaenologischer-kalender-und-bienen-bedeutung-der-temperatur-fuer-die-imkerei/" target="_blank" rel="noopener noreferrer">
              Blogartikel: Grünland-Temperatur-Summe, phänologischer Kalender und Bienen (von C. Brell)
            </a>
          </li>
          <li>
            <a href="https://cbrell.de/blog/phaenologisch-imkern-im-erstfruehling/" target="_blank" rel="noopener noreferrer">
              Blogartikel: Phänologisch Imkern im Erstfrühling (von C. Brell)
            </a>
          </li>
        </ul>
      </section>

    </main>

    <!-- Footer -->
    <div id="footer-placeholder"></div>
    <script>
      fetch("components/footer.html")
    .then(response => response.text())
    .then(html => {
        document.getElementById("footer-placeholder").innerHTML = html;
    });
    </script>
  </body>
</html>
