<header>
    <div class="logo-container">
        <a href="index.html">
            <img src="assets/img/bee_logo02.png" alt="Logo" class="logo">
        </a>
        <div class="logo-text">
            <h1>BeeLot</h1>
            <span class="version">Version 0.1</span>
        </div>
    </div>
    <nav>
        <a href="index.html">Home</a>
        <a href="components/faq.html">Hilfe</a>
        <a href="components/einstellungen.html">
          <img src="assets/img/gear.png" alt="Einstellungen">
        </a>
    </nav>
</header>
