<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hilfe - BeeLot</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- Leaflet CSS falls benötigt -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
  </head>
  <body>
    <div id="header-placeholder"></div>
    <script>
      fetch("/components/header.html")
        .then(response => response.text())
        .then(html => {
            document.getElementById("header-placeholder").innerHTML = html;
        });
    </script>

    <main>
      <h1>Hilfe</h1>
      <p>Die Bedienung ist ganz einfach ...</p>
      <!-- Fügen Sie hier weitere Hilfetexte hinzu, falls gewünscht -->
    </main>

    <div id="footer-placeholder"></div>
    <script>
      fetch("/components/footer.html")
    .then(response => response.text())
    .then(html => {
        document.getElementById("footer-placeholder").innerHTML = html;
    });
    </script>

  </body>
</html>
