<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info - BeeLot</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Leaflet CSS falls benötigt -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>

    <header>
        <a href="index.html">
            <img src="../assets/img/logo.png" alt="BeeLot Logo" style="height:150px; width:auto;">
        </a>
        <nav>
            <a href="components/info.html">Info</a>
            <a href="ueber-mich.html">Über Mich</a>
            <a href="help.html">Help</a>
            <a href="impressum.html">Impressum</a>
            <a href="#sprache">Sprache</a>
        </nav>
    </header>

    <main>
        <h1>Info</h1>
        <h2>Phaenologischer Kalender</h2>
        <a href="https://de.wikipedia.org/wiki/Ph%C3%A4nologie" target="_blank" rel="noopener noreferrer">Wikipedia</a>
        <p>SonnenEnergie -> Erde</p>
        <p>Erwärmung -> Blüte</p>
        <p>Nektar -> Bienen</p>
        <h2>Grünland-Temperatur-Summe</h2>
        <p>Was für ein Wortmonster. Dabei ist es ganz einfach ...</p>
        <a href="https://de.wikipedia.org/wiki/Gr%C3%BCnlandtemperatursumme" target="_blank" rel="noopener noreferrer">Wikipedia</a>
    </main>

</body>
</html>

