<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Über Mich - BeeLot</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
</head>
<body>

    <header>
        <a href="index.html">
            <img src="assets/img/logo.png" alt="BeeLot Logo" style="height:150px; width:auto;">
        </a>
        <nav>
            <a href="index.html#gruenlandtemperatursumme">Grünlandtemperatursumme</a>
            <a href="components/ueber-mich.html">Über Mich</a>
            <a href="components/help.html">Help</a>
            <a href="components/impressum.html">Impressum</a>
            <a href="index.html#sprache">Sprache</a>
        </nav>
    </header>

    <main>
        <h1>Über Mich</h1>
        <p>
            Ich imkere seit 2018. Spätberufen bin ich hochbetagt meinem Ruf den ich schon in der Kindheit hörte gefolgt. Der Ruf war die Beschäftigung mit staatenbildenden Insekten, die schon immer eine Faszination auf mich auswirkten. "Warum nicht früher?" lautet die logische Nachfrage. Nun weil ich keinen Honig mochte. Dann war ich bei einer befreundeten Imkerin in den späten 10er Jahren beim jährlichen Heiligabend Frühstück. Und ich probierte ihren Honig. Und dann war es um mich geschehen.
        </p>
        <p>
            Seitdem widme ich mich leidenschaftlich der Imkerei und der Erforschung von Bienenverhalten. Meine Arbeit konzentriert sich darauf, nachhaltige Methoden zu entwickeln, um Bienenpopulationen zu unterstützen und gleichzeitig hochwertige Honigprodukte zu produzieren. Durch kontinuierliche Weiterbildung und den Austausch mit anderen Imkern strebe ich danach, mein Wissen und meine Fähigkeiten ständig zu erweitern.
        </p>
        <!-- Weitere Informationen können hier hinzugefügt werden -->
    </main>
</body>
</html>
