body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header, nav, main, footer {
    padding: 10px;
}

header {
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    font-size: 2em;
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold; /* Fett */
}

nav a:hover {
    color: #ff8000;
}

.logo {
    height: 150px;  /* Höhe auf 150px setzen */
    width: auto;    /* Breite automatisch anpassen */
}

h1 {
    margin: 0;
}

.eingabe-section, .ergebnis-section, .plot-section, .hinweis-section {
    border-top: 1px solid #ccc;
    padding: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-weight: bold;
}

.input-group input, .input-group select, .input-group button {
    margin-top: 5px;
}

#ergebnis-text {
    font-size: 2em;          /* Doppelte Größe */
    font-weight: bold;      /* Fett */
    color: darkgreen;       /* Dunkelgrün */
}

#ergebnis-text2 {
    font-size: 2em;          /* Doppelte Größe */
    font-weight: bold;      /* Fett */
    color: #304030;
}

.map-container {
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    background: #fff;
    border: 2px solid #333;
    z-index: 1000;
}

#map {
    width: 100%;
    height: 100%;
}

.map-controls {
    text-align: right;
    padding: 5px;
}

.map-controls button {
    margin: 5px;
}

@media (max-width: 600px) {
    header, nav, main, footer {
        padding: 5px;
    }

    nav a {
        margin: 0 5px;
    }

    .plot-container canvas {
        width: 100%;
        max-width: 400px;
        height: 300px;
    }
}

@media (min-width: 601px) {
    .plot-container canvas {
        width: 100%;
        max-width: none;
        height: 400px;
    }
}

.plot-container {
    margin-top: 20px;
}

.plot-container canvas {
    width: 100%;
    height: 100%;
}

#toggle-temp-plot {
    margin-top: 10px;
}
